name: Habitat CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: "*"

jobs:
  check_format:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:0.35.0
    steps:
      - uses: actions/checkout@v1
      - name: Format
        run: crystal tool form spec src --check
  specs:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:0.35.0
    steps:
    - uses: actions/checkout@v2
    - name: Cache Crystal
      uses: actions/cache@v1
      with:
        path: ~/.cache/crystal
        key: ${{ runner.os }}-crystal
    - name: Run tests
      run: crystal spec